@import "../abstracts/colors";
@import "../abstracts/mixins";

#contact {
    @include flexCenter(column);
    color: $textColor;
    background: $bgPink;
    height: 60vh;
    margin-top: 5rem;
    padding: 5rem 0 3rem 0;
    position: relative;
    overflow: hidden;
    .circle {
        background-color: white;
        height: 50rem;
        width: 50rem;
        position: absolute;
        left: 50%;
        transform: translate(-80%,-30%);
        overflow: hidden;
        border-radius: 50%;
        opacity: 0.3;
    }
    .contactInfo {
        @include flexCenter(column);
    }
    h2 {
        @include h2;
        text-align: center;
        z-index: 1;
    }
    p {
        @include p(0.5rem, 80%);
        text-align: center;
        z-index: 1;
    }
    a{
        z-index: 1;
    }
    .icon {
        height: 3rem;
        padding: 0.5rem;
    }
}